* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100svh;
}
#main-layout {
  display: flex;
  height: 100%;
}
#left-content {
  width: 85svw;
  background-color: chocolate;
}
#mid-content {
  height: 80%;
}
#theme-container {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  background-color: grey;
  opacity: 0.9;
  width: 13svw;
  height: 10svh;
  border-radius: 0 0 2em 0;
}

button {
  height: 4svh;
  width: 5svw;
  border-radius: 2em;
}

#dark-mode {
  background-color: black;
  color: white;
}
#light-mode {
  background-color: white;
  color: black;
}
#value-wrapper {
  position: absolute;
  top: 45svh;
  left: 80svh;
  display: flex;
  flex-wrap: wrap;
  width: 20svw;
  background-color: pink;
  justify-content: space-between;
  border-radius: 1em;
}
#value-wrapper > * {
  padding: 2px 20px 2px 8px;
}
#bot-content {
  /* height: 20svh; */
  background-color: slategray;
  opacity: 0.9;
}

#cookie-img {
  max-height: 20svh;
  width: auto;
  max-width: 20svh;
  cursor: default;
  user-select: none;
  animation: rotate-animation 10s infinite linear;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* #cookie-img:hover {
  rotate: 45deg;
} */

#upgrades {
  display: flex;
  flex-direction: column;
  width: 15svw;
}

.upgrade-container {
  border: 1px solid goldenrod;
  height: 10svh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: default;
  user-select: none;
}
.upgrade-container:hover {
  background-color: beige;
}

.upgrade-cost,
.upgrade-inc {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}
.upgrade-name {
  display: flex;
  justify-content: center;
}
.upgrade-header {
  font-size: 1.1em;
}

.upgrade-value {
  font-size: 0.9em;
  color: brown;
}

.upgrade-name {
  font-weight: bold;
  text-shadow: 2px 1px 5px goldenrod;
}

/* This is a workaround to do hover style switching in js without eventhandling.
I would rather not have the same events being handled in multiple places so it's here in css instead of js, even though some js magic was needed */
.darkmode:hover {
  background-color: #5f5f5f;
}

.darkmode {
  background-color: darkslategray;
  /* color: beige; */
}
